<app-header titulo="Datas"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Data Simples</ion-label>
      <ion-datetime placeholder="DD/MM/YYYY" 
     
      display-format="DD/MM/YYYY"
      cancelText="Cancelar"
      [ngModel]="dataAtual.toISOString()"
      (ionChange)="trocarData($event)"
      ></ion-datetime>
    </ion-item>
  </ion-list>
  

  <ion-list>
    <ion-item>
      <ion-label>Intevalo entre datas</ion-label>
      <ion-datetime placeholder="YYYY" 
      display-format="YYYY"
      cancelText="Cancelar"
      [ngModel]="dataAtual.toISOString()"
      min="2015"
      max="2020"
      ></ion-datetime>
    </ion-item>
  </ion-list>

  <!-- value= "{{ dataAtual }}"  -->

</ion-content>
